# 의존성
node_modules/
.pnp
.pnp.js

# 빌드 결과물
dist/
build/
lib/
.next/
out/
*storybook.log
storybook-static

# Vitepress 빌드 결과물
.vitepress/dist
.vitepress/cache
ui-docs-site/.vitepress/dist
ui-docs-site/.vitepress/cache


# 환경 변수
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 로그
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 에디터 설정
.idea/
.vscode/
*.swp
*.swo

# OS 파일
.DS_Store
Thumbs.db
