{
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "singleQuote": false
      }
    }
  ],
  "singleQuote": true,
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120,
  "parser": "typescript",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
