@import url('https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css')
layer(base);

@import 'tailwindcss';

/* @config '../../tailwind.config.js'; */

@theme{
  --color-primary-50: #fcf6df;
  --color-primary-100: #c9bf91;
  --color-primary-200: #fde68a;
  --color-primary-300: #eccb43;
  --color-primary-400: #e9be11;

  --font-family-yds-wanted: 'Wanted Sans Variable';

  --font-size-yds-h1: 48px;
  --font-size-yds-h2: 40px;
  --font-size-yds-s1: 24px;
  --font-size-yds-s2: 20px;
  --font-size-yds-b1: 18px;
  --font-size-yds-b2: 16px;
  --font-size-yds-c1m: 12px;
  --font-size-yds-c1r: 12px;
  --font-size-yds-c2r: 10px;

  --line-height-yds-h1: 58px;
  --line-height-yds-h2: 48px;
  --line-height-yds-s1: 30px;
  --line-height-yds-s2: 26px;
  --line-height-yds-b1: 26px;
  --line-height-yds-b2: 24px;
  --line-height-yds-c1m: 16px;
  --line-height-yds-c1r: 16px;
  --line-height-yds-c2r: 14px;

  --font-weight-yds-h1: 600;
  --font-weight-yds-h2: 600;
  --font-weight-yds-s1: 600;
  --font-weight-yds-s2: 600;
  --font-weight-yds-b1: 400;
  --font-weight-yds-b2: 400;
  --font-weight-yds-c1m: 500;
  --font-weight-yds-c1r: 400;
  --font-weight-yds-c2r: 400;
}

@utility yds-text-h1 {
  font-size: var(--font-size-yds-h1);
  line-height: var(--line-height-yds-h1);
  font-weight: var(--font-weight-yds-h1);
}

@utility yds-text-h2 {
  font-size: var(--font-size-yds-h2);
  line-height: var(--line-height-yds-h2);
  font-weight: var(--font-weight-yds-h2);
}

@utility yds-text-s1 {
  font-size: var(--font-size-yds-s1);
  line-height: var(--line-height-yds-s1);
  font-weight: var(--font-weight-yds-s1);
}

@utility yds-text-s2 {
  font-size: var(--font-size-yds-s2);
  line-height: var(--line-height-yds-s2);
  font-weight: var(--font-weight-yds-s2);
}

@utility yds-text-b1 {
  font-size: var(--font-size-yds-b1);
  line-height: var(--line-height-yds-b1);
  font-weight: var(--font-weight-yds-b1);
}

@utility yds-text-b2 {
  font-size: var(--font-size-yds-b2);
  line-height: var(--line-height-yds-b2);
  font-weight: var(--font-weight-yds-b2);
}


@layer components {
  .yds-button {
    @apply yds-text-s2 flex h-12 items-center justify-center rounded-lg;
  }
}
