@layer components {
  .yds-button {
    display: flex;
    height: var(--button-height);
    justify-content: center;
    align-items: center;
    border-radius: var(--button-border-radius);
    cursor: pointer;
    font-size: var(--font-size-yds-b1);
    line-height: var(--line-height-yds-b1);
    font-weight: var(--font-weight-yds-b1);
    font-family: var(--font-yds-wanted);
  }

  .yds-button-fill-primary {
    background-color: var(--color-button-fill-primary-bg);
    color: var(--color-button-fill-primary-text);
  }

  .yds-button-outlined-primary {
    background-color: var(--color-button-outlined-primary-bg);
    border: var(--yds-border-width) solid var(--color-button-outlined-primary-border);
    color: var(--color-button-outlined-primary-text);
  }   
}