@layer components {
  .yds-checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: var(--checkbox-wrapper-gap);
  }

  .yds-checkbox-typography {
    font-size: var(--font-size-yds-b2);
    line-height: var(--line-height-yds-b2);
    font-weight: var(--font-weight-yds-b2);
    font-family: var(--font-yds-wanted);
    color: var(--color-checkbox-text);
  }

  /* 네모체크박스 영역*/
  .yds-checkbox-indicator {
    border: var(--yds-border-width) solid var(--color-checkbox-indicator-border);
    border-radius: var(--checkbox-indicator-border-radius);
    width: var(--checkbox-indicator-size);
    height: var(--checkbox-indicator-size);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-checkbox-indicator-text);
  }

  .yds-checkbox-indicator-inner-checked {
    background-color: var(--color-checkbox-indicator-checked-bg);
    width: var(--checkbox-indicator-inner-size);
    height: var(--checkbox-indicator-inner-size);
  }

  .yds-checkbox-indicator-inner-unchecked {
    background-color: transparent;
    width: var(--checkbox-indicator-inner-size);
    height: var(--checkbox-indicator-inner-size);
  }

  .yds-checkbox-indicator-inner-indeterminate {
    width: var(--checkbox-indicator-size);
    height: var(--checkbox-indicator-size);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* V체크 아이콘 영역 */
  .yds-checkbox-icon-indicator {
    border: var(--yds-border-width) solid var(--color-checkbox-indicator-border);
    border-radius: var(--checkbox-indicator-border-radius);
    color: var(--color-checkbox-indicator-text);
    width: var(--checkbox-indicator-size);
    height: var(--checkbox-indicator-size);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

