
@layer components {

  .yds-checkbox-wrapper {
      @apply flex items-center gap-1.5;
    }

  .yds-checkbox-typography {
      @apply text-yds-b2 text-white;
    }

  /* 네모체크박스 영역*/
  .yds-checkbox-indicator{
    @apply border-2 border-border-primary-light rounded-sm w-5 h-5 flex items-center justify-center text-font-primary-light;
  }

  .yds-checkbox-indicator-inner-checked{
    @apply bg-background2-primary-light  w-3 h-3;
  }

  .yds-checkbox-indicator-inner-unchecked{
    @apply bg-transparent w-3 h-3;
  }

  .yds-checkbox-indicator-inner-indeterminate{
    @apply w-5 h-5 flex items-center justify-center;
  }

  /* V체크 아이콘 영역 */
  .yds-checkbox-icon-indicator{
    @apply border-2 rounded-sm text-font-primary-light border-border-primary-light w-5 h-5 flex items-center justify-center;
  }
}

