@layer components {

    .yds-checkbox-typography {
        @apply text-yds-b2;
      }

    .yds-checkbox-indicator{
      @apply border-2 border-border-primary-light rounded-sm w-5 h-5 flex items-center justify-center;
    }
    .yds-checkbox-indicator-inner-checked{
      @apply bg-background2-primary-light w-3 h-3;
    }
    .yds-checkbox-indicator-inner-unchecked{
      @apply bg-transparent w-3 h-3;
    }
}