@layer components {
  .yds-input-typography {
    font-size: var(--input-typography-font-size);
    line-height: var(--input-typography-line-height);
    font-weight: var(--input-typography-font-weight);
    font-family: var(--input-typography-font-family);
    color: var(--color-input-text);
  }
}