@layer components {
  .yds-table-wrapper {
    background-color: var(--color-table-wrapper-bg);
    color: var(--color-table-text);
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
  }

  .yds-table-header {
    background-color: var(--color-table-header-bg);
  
  }

  .yds-table-header-cell {
    height: var(--table-header-height);
    padding: var(--table-cell-padding-y) var(--table-cell-padding-x);
    text-align: left;
    color: var(--color-table-text-header);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
  }

  .yds-table-row {
    background-color: var(--color-table-row-bg);
  }

  .yds-table-cell {
    height: var(--table-cell-height);
    padding: var(--table-cell-padding-y) var(--table-cell-padding-x);
    border-bottom: var(--yds-border-width) solid var(--color-table-border);
    text-align: left;
    color: var(--color-table-text);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

